<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Page d'accueil</title>
    <link rel="stylesheet" href="css/general.css">
<!-- 	<link rel="stylesheet" href="css/accueil.css">
	<link rel="stylesheet" href="css/reste.css"> -->

</head>

<body>
	<!-- Header -->
	<div id="header" class="header">
		<img src="img/Logo_UQAM_blanc.png">
		<h1>Portail &eacute;tudiant</h1>
	</div>

	<!-- Contenu de la page -->
	<div id="body-page" class="body-page">
		<p id="label">Accueil</p>
		<p id="message">Bienvenue sur votre portail &eacute;tudiant</p>
	</div>
	
	<!-- Footer -->
	<div id="footer" class="footer">
		<a class="footerLink" href="https://uqam.ca/">UQAM - Université du Québec à Montréal</a> |
		<a class="footerLink" href="https://etudier.uqam.ca/nous-joindre">Nous joindre</a>
	</div>

	<!-- Barre de navigation -->
	<div id="mySidenav" class="sidenav">
		<ul>
			<a id="relevedenotes" href="#">Relev&eacute; de notes</a>
			<li><a href="#">Modification</a>
				<ul class="sub-menu">
					<a id="inscription" href="#">Inscription</a>
					<a id="desinscription" href="#">D&eacute;sinscription</a>
				</ul>
			</li>
			<a id="horaire" href="#">Horaire</a>
			<a id="facture" href="#">Facture</a>
			<a id="cheminement" href="#">Cheminement</a>
			<a id="deconect" href="/connexion">D&eacute;connexion</a>
		</ul>
	</div>
	<!-- Invisible right div -->
	<div id="rightBar"></div>
	<!-- <span class="menu"> &#9776; Menu</span> -->
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/accueil.js"></script>	
</body>
</html>
