<!DOCTYPE html>
<html>
<head>
	<title>Page de connexion</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

	<form action="#" method="post">
		<img src="../img/Logo_UQAM.svg">
		<p>
			<label for="code">Code permanent</label>
			<input id="code" name="code" type="text">
		</p>
		<p>
			<label for="nip">NIP</label>
			<input id="nip" name="nip" type="password">
		</p>
		<p>
			<input type="submit" value="Connexion" id="submit">
		</p>
	</form>
</body>
</html>